body {
    font-family: "Gill Sans", sans-serif;
    background-color: #c5cae9;
    color: black;
}

/*navbar*/
.navbar {
    background-color: black; /* Couleur de fond */
    overflow: hidden;
    border-radius: 12px;
}

.navbar a {
    float: left;
    display: block;
    color: white; /* Couleur du texte */
    text-align: center;
    padding: 13px 25px;
    text-decoration: none;
    font-size: 14px;
    
}

.navbar a:hover {
    background-color: #1a237e; /* Couleur au survol */
}

.navbar a.active {
    background-color: #1a237e; /* Couleur du lien actif */
}

h2 {
    text-align: center;
}

/*footer*/
footer {
    background-color: black; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 20px;
    text-align: center;
}

/* Style de copyright */
footer .copyright {
    margin-top: 15px;
    font-size: 0.9em;
    color: #ccc;
}

/*box image*/
.image-box {
    position: relative;
    width: 1240px;
    height: 300px;
    background-image: url('arcane.jpg'); /* URL de l'image de fond */
    background-size: cover; /* L'image couvre toute la box */
    background-position: center;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Superposition pour rendre le texte plus lisible */
.image-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couche sombre transparente */
}

/* Contenu à l'intérieur de la box */
.image-box .content {
    position: relative; /* Pour être au-dessus de la superposition */
    padding: 20px;
    z-index: 1;
}

.image-box h2 {
    font-size: 1.5em;
    margin: 0;
}

.image-box p {
    font-size: 1em;
    margin-top: 8px;
}

/*liens pdf*/
/* Style pour la section des liens PDF */
.pdf-links {
    display: none; /* Masquer par défaut */
    margin: 20px auto;
    padding: 10px 20px;
    width: 60%;
    border-radius: 15px;
    background-color: #f3f3f3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pdf-links ul {
    list-style: none;
    padding: 0;
}

.pdf-links li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.pdf-links li a:hover {
    background-color: #ddd;
}

/* Style pour le bouton */
.toggle-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s;
}

.toggle-btn:hover {
    background-color: #555;
}

div.pdf {
    text-align: center;
}
