/*police d'écriture*/
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #c5cae9;
    color: black;
}

/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.header-left {
    /* Conteneur pour le titre et le logo */
    display: flex;
    align-items: center;
    gap: 10px;
    /* Espace entre le titre et le logo */
}


header h4 {
    /* Style du titre */
    font-size: 20px;
    margin: 0;
    color: #fff;
}


.navbar {
    /* Style de la barre de navigation */
    display: flex;
    gap: 15px;
}


.navbar a {
    /* Style des liens de navigation */
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.navbar a:hover {
    /* Effet sur les liens au survol */
    background-color: #303f9f;
}


.navbar .active {
    /* Style du lien actif */
    background-color: #303f9f;
}

/*titre*/
h2 {
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 20px;

}

/*accueil*/
.conteneur {
    background-color: #e3f2fd;
    border: 1px solid #e3f2fd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*footer*/
footer {
    background-color: black;
    /* Couleur de fond */
    color: #fff;
    /* Couleur du texte */
    padding: 20px;
    text-align: center;
}


footer .copyright {
    /* Style de copyright */
    margin-top: 15px;
    font-size: 0.9em;
    color: #ccc;
}

a.link {
    display: flex;
}

/*box image*/
.image-box {
    position: relative;
    width: 1260px;
    height: 500px;
    background-image: url('/images/arcane.jpg');
    /* URL de l'image de fond */
    background-size: cover;
    /* L'image couvre toute la box */
    background-position: center;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-box2 {
    position: relative;
    width: 1260px;
    height: 500px;
    background-image: url('/images/bilgewater.jpg');
    /* URL de l'image de fond */
    background-size: cover;
    /* L'image couvre toute la box */
    background-position: center;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-box3 {
    position: relative;
    width: 1260px;
    height: 500px;
    background-image: url('/images/ionia3.jpg');
    /* URL de l'image de fond */
    background-size: cover;
    /* L'image couvre toute la box */
    background-position: center;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-box4 {
    position: relative;
    width: 1260px;
    height: 500px;
    background-image: url('/images/shurima2.jpg');
    /* URL de l'image de fond */
    background-size: cover;
    /* L'image couvre toute la box */
    background-position: center;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-box5 {
    position: relative;
    width: 1260px;
    height: 500px;
    background-image: url('/images/targon2.jpg');
    /* URL de l'image de fond */
    background-size: cover;
    /* L'image couvre toute la box */
    background-position: center;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-box::before {
    /* Superposition pour rendre le texte plus lisible */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Couche sombre transparente */
}


.image-box .content {
    /* Contenu à l'intérieur de la box */
    /* position: relative; Pour être au-dessus de la superposition */
    /* padding: 20px;
    z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.image-box h2 {
    font-size: 1.5em;
    margin: 0;
}

.image-box p {
    font-size: 1em;
    margin-top: 8px;
}

/*liens pdf*/

.pdf-links {
    /* Style pour la section des liens PDF */
    display: none;
    /* Masquer par défaut */
    margin: 20px auto;
    padding: 10px 20px;
    width: 60%;
    border-radius: 15px;
    background-color: #c5cae9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pdf-links ul {
    list-style: none;
    padding: 0;
}

.pdf-links li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.pdf-links li a:hover {
    background-color: #e3f2fd;
}


.toggle-btn {
    /* Style pour le bouton */
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s;
}

.toggle-btn:hover {
    background-color: #555;
}

div.pdf {
    text-align: center;
}

/*page d'accueil*/
.box-container {
    display: flex;
    gap: 180px;
    /* Espace entre les boîtes */
    padding: 20px;
}


.box1 {
    /* Style des boîtes carrées */
    background-image: url(images/html.png);
    background-color: #e3f2fd;
    color: white;
    width: 100px;
    /* Largeur fixe pour rendre les boîtes carrées */
    height: 100px;
    /* Hauteur identique à la largeur pour un carré */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.box2 {
    /* Style des boîtes carrées */
    background-image: url(images/css.png);
    background-color: #e3f2fd;
    color: white;
    width: 100px;
    /* Largeur fixe pour rendre les boîtes carrées */
    height: 100px;
    /* Hauteur identique à la largeur pour un carré */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.box3 {
    /* Style des boîtes carrées */
    background-image: url(images/js.png);
    background-color: #e3f2fd;
    color: white;
    width: 100px;
    /* Largeur fixe pour rendre les boîtes carrées */
    height: 100px;
    /* Hauteur identique à la largeur pour un carré */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.box4 {
    /* Style des boîtes carrées */
    background-image: url(images/python.png);
    background-color: #e3f2fd;
    color: white;
    width: 100px;
    /* Largeur fixe pour rendre les boîtes carrées */
    height: 100px;
    /* Hauteur identique à la largeur pour un carré */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.box5 {
    /* Style des boîtes carrées */
    background-image: url(images/php.png);
    background-color: #e3f2fd;
    color: white;
    width: 100px;
    /* Largeur fixe pour rendre les boîtes carrées */
    height: 100px;
    /* Hauteur identique à la largeur pour un carré */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.box1:hover {
    /* Effet au survol */
    transform: scale(1.05);
}

.box2:hover {
    /* Effet au survol */
    transform: scale(1.05);
}

.box3:hover {
    /* Effet au survol */
    transform: scale(1.05);
}

.box4:hover {
    /* Effet au survol */
    transform: scale(1.05);
}

.box5:hover {
    /* Effet au survol */
    transform: scale(1.05);
}

.box-container2 {
    display: flex;
    gap: 120px;
    /* Espace entre les boîtes */
    padding: 20px;
    margin-left: 330px;
}

.box6 {
    /* Style des boîtes carrées */
    background-image: url(images/angular.png);
    background-color: #e3f2fd;
    color: white;
    width: 100px;
    /* Largeur fixe pour rendre les boîtes carrées */
    height: 100px;
    /* Hauteur identique à la largeur pour un carré */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.box7 {
    /* Style des boîtes carrées */
    background-image: url(images/typescript.png);
    background-color: #e3f2fd;
    color: white;
    width: 100px;
    /* Largeur fixe pour rendre les boîtes carrées */
    height: 100px;
    /* Hauteur identique à la largeur pour un carré */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.box8 {
    /* Style des boîtes carrées */
    background-image: url(images/mysql.png);
    background-color: #e3f2fd;
    color: white;
    width: 100px;
    /* Largeur fixe pour rendre les boîtes carrées */
    height: 100px;
    /* Hauteur identique à la largeur pour un carré */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

/*CV*/

h5 {
    font-size: 18px;
    text-align: left;
}

h6 {
    font-size: 15px;
    text-align: center;
}

p.center {
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: justify;
}

/*animations*/

/*images*/

.stage {
    text-align: center;
    /* Centre l'image horizontalement */
}

img {
    max-width: 100%;
    height: auto;
}


/*formulaire contact*/

